body {
    background-color: #F2EBC4;
    color: #BF5349;
}

nav ul {
    list-style-type: none;
    
}

nav li {
   
    display: inline-block;
}

nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}