body {
    background-color: #F2EBC4;
    color: #594336;
    font-family: 'Crimson Text', serif;
    text-align: center
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    
}

nav li {
    margin: 0 1rem;
    display: inline-block;
}

nav a {
    text-decoration: none;
}

a:visited {
    color: #594336;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #BF5349;
    ;
}

p {
    color: #594336;
    margin: 0 1rem;
}